:root {
  --color-1: #111111;
  --color-2: #555555;
  --color-3: #ababab;
  --back-1: #ffffff;
  --back-2: #f1f1f1;
  --back-3: #eeeeee;
  --back-4: #cccccc;
  --accent-color: #ff3d55;
  --accent-color: #00d084;
  --accent-color: #5856d6;
}

:root {
  --trans-low: #00000080;
  --trans-mid: #00000099;
  --trans-high: #000000b3;
  --backdrop-low: blur(10px);
  --backdrop-mid: blur(15px);
  --backdrop-high: blur(20px);
}
