.row {
  top: 0;
  padding: 1rem;
  display: flex;
  z-index: 100;
  position: sticky;
  flex-direction: column;
  border-bottom: 1px solid var(--back-2);
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.75);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    text-transform: capitalize;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .links {
    display: flex;
    align-items: center;
    gap: 1rem;
    a {
      color: var(--color-1);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
